@mixin opacity($opacity) {
  -webkit-opacity: $opacity;
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  -o-opacity: $opacity;
  opacity: $opacity;
}

@mixin scale($params) {
  -webkit-transform: scale($params);
  -moz-transform: scale($params);
  -khtml-transform: scale($params);
  -o-transform: scale($params);
  transform: scale($params);
}

@mixin transition($params) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -khtml-transition: $params;
  -o-transition: $params;
  transition: $params;
}

$colors: (
  main: blue,
  secondary: red,
  third-rate: yellow,
);

@mixin socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4cd8f4;
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  & img {
    height: 1rem;
    width: 1rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #4865e6;
  color: #4865e6;
}

.main-header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  height: 3.75rem;
  width: 100%;
  z-index: 30;
  border-bottom: 1px solid #4cd8f4;
  background-color: #f2f4ff;
  align-items: center;
  transition: (width 0.3s ease-out);
}

.main-header--mobile-nav-active {
  border-bottom: 1px solid #4865e6;
  background-color: #4865e6;
  width: 10%;
  & > .main-logo {
    visibility: hidden;
  }
  & > .main-header__div {
    visibility: hidden;
  }
}

.main-header__hamburger {
  margin-left: 4vw;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: 0;
  &:focus {
    & > .hamburger__container {
      box-shadow: 0 0 2px 2px #4cd8f4;
    }
  }
}

.hamburger__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 1.8rem;
  height: 1.5rem;
}

.hamburger__bars {
  position: absolute;
  width: 1.8rem;
  height: 2px;
  background-color: #000;
  transition: transform 220ms ease-in-out;
  &::before,
  &::after {
    display: block;
    position: absolute;
    width: 1.8rem;
    height: 2px;
    background-color: #000;
    content: '';
  }
  &:before {
    top: -0.75rem;
    transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  }
  &:after {
    bottom: -0.75rem;
    transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
  }
}

.main-header__hamburger--active {
  .hamburger__bars {
    transform: rotate(45deg);
    transition: transform 220ms 120ms ease-in-out;
    &:before {
      top: 0;
      transition: top 100ms ease-out;
    }
    &:after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
    }
  }
}

.main-header__hamburger,
.hamburger__container {
  &:focus {
    outline: none;
  }
}

.main-logo {
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

.main-logo {
  &::first-letter {
    color: #4865e6;
    font-weight: 700;
  }
}

.main-nav {
  display: none;
}

.main-nav__items {
  display: flex;
  list-style-type: none;
  flex-direction: row;
}

.main-nav__item {
  margin-right: 2vw;
}

.main-header__div {
  display: flex;
  flex-direction: row;
  margin-right: 4vw;
  align-items: center;
}

.main-header__social {
  padding: 0;
  display: flex;
}

.social__item {
  @include socialIcon;
}

.mobile-nav__social {
  display: flex;
  & a {
    @include socialIcon;
    height: 0;
    width: 0;
    @include transition(all 0.6s ease-in);
  }
}

.main-header__language-btn {
  border-radius: 1.5rem;
}

.mobile-nav__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: #f2f4ff;
  list-style-type: none;
  margin-top: 6.25rem;
  overflow: hidden;
  padding: 0;
  & li {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
    width: 0;
    margin: 1.2rem 0;
    border-radius: 1.5rem;
    background-color: #4cd8f4;
    @include transition(all 0.6s ease-in);
  }
}

.mobile-nav__items--active {
  & li {
    width: 12.5rem;
  }
  & .mobile-nav__social {
    & a {
      height: 2rem;
      width: 2rem;
    }
  }
}

.content {
  padding-top: 3.75rem;
  flex: 1 0 auto;
  z-index: 20;
  transition: (all 0.3s ease-in);
  background-color: #f2f4ff;
}

.content--mobile-nav-active {
  @include opacity(0);
  @include scale(0.85);
  visibility: hidden;
}

.picture {
  height: 12.5rem;
  width: 18.75rem;
}

.main-footer {
  flex-shrink: 0;
  height: 3.1rem;
  width: 100%;
  background-color: #f2f4ff;
  color: #4865e6;
  border-top: 1px solid #4cd8f4;
  transition: (width 0.3s ease-out);
}

.main-footer--mobile-nav-active {
  width: 0%;
  visibility: hidden;
}

@media screen and (min-width: 46.8rem) {
  .main-logo {
    margin-left: 4vw;
  }

  .main-header__hamburger {
    display: none;
  }

  .main-nav {
    display: block;
  }
}
